/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}

  #header_logo {
    background-color: #333;
    padding: 20px 0;
    vertical-align: middle;
  }

  #header_logo a, #header_logo img {
    border-color: #333;
  }

  #navigation {
    background-color: #ccc;
    padding: 10px 0;
  }

  .right {
    text-align: right
  }

  .logo {
 		background: url('../img/g3070.png') no-repeat;
    background-size: 100% 100%;
    width: 220px;
    height: 60px;
    border: none;
  }
    
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  #header_logo .tencol {
    text-align: center;
  }

}

@media handheld, only screen and (max-width: 480px) {

  .logo {
		background: url('../img/g3070_2.png') no-repeat;
    width: 180px;
    height: 49px;
    /* background-size: 212px 303px; */
	}

  #header_logo .tencol {
    text-align: center;
  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
/*
  .logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}
*/
}
