/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}

  #header_logo {
    background-color: #001;
    padding: 20px 0;
    vertical-align: middle;
  }

  #navigation {
    background-color: #ccf;
    padding: 10px 0;
  }

  .right {
    text-align: right
  }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
