/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: helvetica, arial, sans-serif;
    font-size: 14px;
	}

  #header_logo {
    background-color: #333;
    padding: 1.4em 0;
    vertical-align: middle;
  }

  #header_logo .container, #header_logo .row, #header_logo .twocol {
    vertical-align: middle;
  }

  #header_logo .twocol, #header_logo .fourcol {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #ccc;
  }

  #header_logo .twocol {
    padding: 1.4em 0;
  }

  #header_logo a, #header_logo img {
    border-color: #333;
  }

  #navigation {
    background-color: #ccc;
    padding: 1em 0;
  }

  .right {
    text-align: right
  }

  .logo {
 		background: url('../img/g3070.png') no-repeat;
    background-size: auto;
    width: 220px;
    height: 60px;
    border: none;
  }

  #banner {
    display: block;
    width: 100%;
    background-color: #eee;
    padding: 1em 0;
  }

  #banner .sixcol {
    height: 300px;
    background-color: #e7ffe7;
  }

  #content {
    width: 100%;
  }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  #header_logo .fourcol {
    text-align: center;
  }

  #header_logo .twocol {
    padding: 1px 0;
    text-align: center;
  }

  #banner {
    display: none;
  }
}

@media handheld, only screen and (max-width: 400px) {

  .logo {
		background: url('../img/g3070_2.png') no-repeat;
    width: 180px;
    height: 49px;
    /* background-size: 212px 303px; */
	}

  #header_logo {
    padding: 5px 0;
  }

/*
  #header_logo .tencol {
    text-align: center;
  }
*/
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
/*
  .logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}
*/
}
